.poster {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 24px;
  width: 100%;
  position: relative;
}

.BG {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -10;
}
.BG::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px) contrast(1.1);
}

aside {
  display: flex;
  flex-direction: column;
  gap: 30px;

  background-color: rgba(0, 0, 0, 0.65);
  padding: 16px;
  border-radius: 10px;
  max-height: 100%;
}
.posterContainer {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.posterLink {
  display: block;
  cursor: pointer;
  transition: all 0.4s ease;
  will-change: transform;
}
.posterImage {
  width: 100%;
}

.genres {
  display: flex;
  gap: 10px;
}
.companies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
}

.companiesLogo {
  width: 9rem;
  object-fit: contain;
  height: 50px;
  filter: grayscale(1) contrast(2) invert(1) brightness(8);
}

.locations {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  position: relative;
  bottom: 0;
  justify-content: flex-end;
  background-color: rgb(0, 0, 0);
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  text-align: center;
  max-width: 500px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
}
.overview {
  max-width: 500px;
  font-size: 1.4rem;
}
.topAside {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topAside h4 {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.topAside h4:first-child {
  margin-bottom: 5px;
}
.bottomAside {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bottomAside h4 {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Links {
  border: 1px solid white;

  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  color: white;
  width: 100%;
}
.Links:hover {
  background-color: #fff;
  color: black;
}
.linkItem {
  display: inline-block;
  padding: 10px 50px;

  width: 100%;
  height: 100%;
}
.additional {
  margin-top: 10px;
}
.outletContainer {
  margin: 20px auto 0 auto;
  border-top: 1px solid white;
  min-height: 200px;
  display: flex;
  gap: 10px;
  max-width: 1334px;
  flex-direction: column;
}
.goBackBtn{
  border: none;
  background-color: transparent;
  position: fixed;
  top: 80px;
  left: 30px;
  display: block;
  padding: 30px;
  background-image: url('../../images/go-back.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: all 0.3s ease;
  will-change: scale;
 filter: drop-shadow(0px 0px 10px #ffffff);
  z-index: 99999999;

}
.goBackBtn:hover{
  scale:1.1;
}



@media screen and (min-width: 758px) {
  .BG {
    height: calc(100vh - calc(100vh - 100%));
    background-size: cover;
  }
  .poster {
    flex-direction: row;
  }
  .posterImage {
    width: 50vw;
    max-width: 500px;
    gap: 60px;
  }
  aside {
    width: 50%;
  }
  .posterLink:hover {
    transform: scale(1.05);
  }
  aside {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .poster {
    justify-content: center;
  }
}
